[submodule "java/lcjrt"]
	path = java/lcjrt
	url = https://github.com/LightningCreations/lcjrt.git
[submodule "codegen-llvm/llvm-project"]
	path = codegen-llvm/llvm-project
	url = git@github.com:llvm/llvm-project.git
