[submodule "lc-binutils"]
	path = lc-binutils
	url = https://github.com/lccc-project/lc-binutils
[submodule "rust-target-tuples"]
	path = rust-target-tuples
	url = https://github.com/chorman0773/rust-target-tuples.git
[submodule "rtlibs"]
	path = rtlibs
	url = https://github.com/lccc-project/rtlibs.git
[submodule "autobuild"]
	path = autobuild
	url = https://github.com/lccc-project/autobuild.git
[submodule "lcrust/libraries/lccc-siphash"]
	path = lcrust/libraries/lccc-siphash
	url = https://github.com/lccc-project/lccc-siphash.git
