name: Rust miri

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
jobs:
  miri:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install miri
      run: |
        rustup toolchain add nightly --component miri
        rustup update
    - name: Run Miri
      run: cargo +nightly miri test